html {
    display: table;
    margin: auto;
    background: url(https://w0.peakpx.com/wallpaper/422/850/HD-wallpaper-doge-to-the-moon-dogecoin-currency-crypto-deviantart.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#hotbox {
    background: linear-gradient(#E8C547, #C20114);
    border-image: linear-gradient(#E8C547, #C20114) 10;
    border-width: 4px;
    border-style: solid;
}

#coldbox {
    background: linear-gradient( #1d7d8e, #e9fbcf);
    border-image: linear-gradient(#1d7d8e, #e9fbcf) 10;
    border-width: 4px;
    border-style: solid;
}

#hot {
    font-family: Georgia, serif;
    max-width: max-content;
    margin: auto;
}

#cold {
    font-family: Georgia, serif;
    max-width: max-content;
    margin: auto;
}

#id {
    color: #808080;
    text-align: center;
}

#detail {
    text-align: center;
}

#symbol {
    text-align: center;
}

#footer {
    text-align: center;
    position: absolute;
    bottom: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}